
ibmmq-demo/.classpath
ibmmq-demo/.project
ibmmq-demo/.settings/org.eclipse.core.resources.prefs
ibmmq-demo/.settings/org.eclipse.jdt.apt.core.prefs
ibmmq-demo/.settings/org.eclipse.jdt.core.prefs
ibmmq-demo/.settings/org.eclipse.m2e.core.prefs
*.class
*.properties
*.xml
*.MF
